
.time{
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
}

.calendar-icon {
    margin: auto;
    width: 80px;
    height: 80px;
    background-color: #fff;
    color: #000;
    border-radius: 10%;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    border: 1px solid;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.calendar-icon h5,
.calendar-icon p{
    margin: 0 auto;
}

.month-box{
    background-color: #008aff;
    color: #fff;
    padding: 5px 0;
    font-size: 13px;
    border-radius: 5px 5px 0 0;
}

.month-box p{
    margin: 0;
}

.calendar-icon .date{
    font-size: 1.5rem;
}

.calendar-icon .day{
    font-size: 11px;
    padding-bottom: 4px;
}
